{% macro bio() %}

<div class="animated-hero-bg-container">
    <section class="gradient-bg">
        <div class="bg-circle_1"></div>
    </section>
    <div class="main-bio-wrap">
        <div class="article">
            <div class="text-block-41">Hello, my name is</div>
            <h1 clas="heading-20">
                <strong class="bold-text-8">Sardorbek</strong>
            </h1>
            <div class="text-block-42">
                <strong class="bold-text-8">Data Science • Machine Learning • Artificial Intelligence </strong>
            </div>
            <p class="bio">
                I am a Machine Learning Engineer passionate about data and I am based in Poland. My current focus is Computer Vision and Convolutional Neural Networks.
            </p>
            <div class="div-block-13">
                <a href="mailto:szokirov@outlook.com?subject=Website%20Mail" class="button-3 w-button>" style="color: snow;">Send an email</a>
                <a href="https://drive.google.com/file/d/1HhSWfpaccR37EkTa46fD9sm2x1Ara9Qu/view?usp=sharing" target="_blank" class="button-6 w-button" style="color: snow">View Resume</a>

            </div>
            <img src="photo_2022-07-04 14.27.53.jpeg" alt class="mobile-pic">
        </div>
    </div>
    <div data-w-id="403b3d44-a051-2973-94ee-672cf646a214" class="hover-link-wrapper">
        <a href="Portfolio" class="hover-link w-inline-block w--current" style="background-color: rgba(255, 255, 255, 0); color: rgb(255, 255, 255); opacity: 0.8; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <img src="https://uploads-ssl.webflow.com/5fe3ab22c331aa6c89389bed/61df49392f5df2182a93ad1d_arrow-down(24x24)%402x.svg" loading="lazy" width="24" alt class="scroll-icon" style="filter: invert(0%);">
        </a>
    </div>


</div>
<section id="Featured" class="blog-tabs-section wf-section">
    <div data-duration-in="0" data-duration-out="0" data-current="Tab 2" data-easing="ease" class="blogs-tabs w-tabs">
        <div class="blog-tabs-content w-tab content">
            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0">
                <div data-w-id="bb027a10-8260-b23c-1993-a04c4cc17c79" class="article-2">
                    <div class="article-text-wrapper-2">
                        <div class="blog-tag">Computer Vision, Python</div>
                        <h4 class="heading-3 bigger">
                            <a href="https://towardsdatascience.com/automation-python-scripts-connecting-to-oracle-database-using-cx-oracle-1fe1801821b5" target="_blank" class="link-4">
                                <strong class="heading-3">Automatic License Plate Recognition</strong> 
                            </a>
                        </h4>
                        <p>
                            This is some information about the project. This is some information about the project. This is some information about the project. 
                        </p>
                    </div>
                    <div class="article-text-wrapper-2">
                        <div class="blog-tag">Computer Vision, Python</div>
                        <h4 class="heading-3 bigger">
                            <a href="https://towardsdatascience.com/automation-python-scripts-connecting-to-oracle-database-using-cx-oracle-1fe1801821b5" target="_blank" class="link-4">
                                <strong class="heading-3">Convolutional Neural Network to classify images</strong> 
                            </a>
                        </h4>
                        <p>
                            This is some information about the project. This is some information about the project. This is some information about the project. 
                        </p>
                    </div>
                    <div class="article-text-wrapper-2">
                        <div class="blog-tag">Data Analytics, Python</div>
                        <h4 class="heading-3 bigger">
                            <a href="https://towardsdatascience.com/automation-python-scripts-connecting-to-oracle-database-using-cx-oracle-1fe1801821b5" target="_blank" class="link-4">
                                <strong class="heading-3">Data Analytics App based on Yelp.com</strong> 
                            </a>
                        </h4>
                        <p>
                            This is some information about the project. This is some information about the project. This is some information about the project. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>      
{%- endmacro %}