{% macro portfolio() %}
<div data-w-id="403b3d44-a051-2973-94ee-672cf646a214" class="hover-link-wrapper">
    <a href="Portfolio" class="hover-link w-inline-block w--current" style="background-color: rgba(255, 255, 255, 0); color: rgb(255, 255, 255); opacity: 0.8; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <img src="https://uploads-ssl.webflow.com/5fe3ab22c331aa6c89389bed/61df49392f5df2182a93ad1d_arrow-down(24x24)%402x.svg" loading="lazy" width="24" alt class="scroll-icon" style="filter: invert(0%);">
    </a>
</div>
<section id="Featured" class="blog-tabs-section wf-section">
    <div data-duration-in="0" data-duration-out="0" data-current="Tab 2" data-easing="ease" class="blogs-tabs w-tabs">
        <div class="blog-tabs-content w-tab content">
            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0">
                <div data-w-id="bb027a10-8260-b23c-1993-a04c4cc17c79" class="article-2">
                    <div class="article-text-wrapper-2">
                        <div class="blog-tag">Automation, Python</div>
                        <h4 class="heading-3 bigger">
                            <a href="https://towardsdatascience.com/automation-python-scripts-connecting-to-oracle-database-using-cx-oracle-1fe1801821b5" target="_blank" class="link-4">
                                <strong class="heading-3">Automating ETL tasks using Python Scripts</strong> 
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{%- endmacro %}
